.pre {
  padding: 0.75rem 1.5rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.pre div span {
  background-color: transparent;
  display: initial;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

.lineNumber {
  margin-right: 1rem;
}
