@charset "utf-8";

// variables declared before importing Bulma

// brand color scheme
$darkTheme: #0D0D0D;
$milk: #FCFDFE;
$greenlight: #49FCD4;

// potential complements
$canary: #E6D72A;
$tulip: #F18D9E;
$masago: #F77604;
$avocado: #B8D20B;
$salmon: #F56C57;
$nori: #231B12;


@import "~bulma/bulma.sass";

html {
  background-color: $darkTheme;
}

h1, h2, h3, h4, h5, p {
  color: $milk;
}

.greenlight {
  color: $greenlight;
}
