@charset "utf-8";

// colors use hsl to allow Bulma to optimize their values for readability
// for more info see: https://bulma.io/documentation/overview/functions/#the-code-findcolorinvert-code-function

// color palette
$greenlight: hsl(167,97%,64%);
$milk: hsl(210,50%,99%);
$dark: hsl(0,0%,5%);
$canary: hsl(55,79%,53%);
$tulip: hsl(350,78%,75%);
$masago: hsl(28,97%,49%);
$avocado: hsl(68,90%,43%);
$salmon: hsl(8,89%,65%);
$nori: hsl(32,32%,10%);

// brand color scheme
$darkTheme: $dark;
$lightTheme: $milk;
$accentMain: $greenlight;

// variables declared before importing Bulma to override their values (set to one of the above variables or add your own)
$background: $darkTheme;

@import "~bulma/bulma.sass"
