@import "~bulma/sass/utilities/initial-variables";

.modal {
  justify-content: center;
}

.content {
  max-height: 90vh;
}

.body {
  height: 100%;
}

.cardHead {
  border-bottom-color: $grey-darker;
}

.cardFooter {
  border-top-color: $grey-darker;
}
