.footer {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.columns {
  flex-direction: row;
}

.columnsReverse {
  flex-direction: column-reverse;
}

// buy me a coffee button
.bmc {
  margin-top: 0.75rem;
  max-width: 75%;
  /* makes the boxes shift upwards on hover */
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.bmc:hover {
  top: -5px;
  color: black;
}

@media screen and (max-width: 540px) {
  .bmc {
    max-width: 100%;
  }
  .columns {
    flex-direction: column-reverse;
  }
  .footer {
    padding-top: 0rem;
  }
}
